
:root{ 

    --primary: hsla(291, 100%, 95%, 0.45) ; 
    --yellow: rgba(48, 54, 57, 0.45) ; 
    --red: hsla(0, 92%, 44%, 0.53); 
     
   
       
   
   }
   .body{ 
       
       height: 100vh;
       background: linear-gradient(130deg , var(--primary),var(--yellow)), url("resource/background2.jpg");    
       background-size: cover;
       background-position: center;
       background-repeat: no-repeat;  
       
       
   } 
   .body2{ 
       
       height: 100vh;
       background: linear-gradient(130deg , var(--primary),var(--yellow)), url("resource/background2.jpg");    
       background-attachment: fixed; 
       overflow-y:auto; 
       flex: 1;
       background-size: cover;
       background-position: center;
       background-repeat: no-repeat;  
       
       
   }
 
   
   .logo{ 

    background-image: url("resource/logo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
} 
